<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../templates/css/bootstrap.css">
	<link rel="stylesheet" href="../main.css">
</head>

<body>

	<div class="container">

		<!----- aceso rapido ------>
		<div class="row" >
			<div class="col-md-12 bg-primary" >
				<header class="container-fluid d-flex">
					<div class="col-md-6" id="acesso">
						<a class="me-3" href="../index.html">MultiMueble.com</a>
					</div>

					<div class="col-md-6" id="acesso">
						<div class="container-fluid d-flex justify-content-end">
							<ul class="list-unstyled d-flex">
								<li>
									<a class="me-3" href="ingresar.html">Ingresar</a>
								</li>
								<li>
									<a class="me-3" href="Registrar.html">Registrar</a>
								</li>
								<li>
									<a class="me-3" href="">Contacto</a>
								</li>
								<li>
									<a class="me-3" href="">FAQ</a>
								</li>
							</ul>
						</div>
					</div>
				</header>
			</div>
		</div>
		
			<!-----Header ------>	
		<div class="row">
			<!-----logo ------>	
			<div class="col-md-6">
				<div class="container-fluid d-flex justify-content-center">
					<ul class="list-unstyled d-flex">
						<li class="">
							<a class="me-2" href=""><img src="../img/mmlogo.jpg" class="rounded float-start" alt="..." width="200" height="200"></a>
						</li>
					</ul>
					<div class="float-none">
						<a class="me-2" href=""><img src="../img/logo2.png" class="rounded float-center" alt="..." width="200" height="60"></a>
					</div>
				</div>
			</div>
			<!----carrusel----->
			<div class="col-md-6">
				<div class="container-fluid" >
					<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
					  <div class="carousel-inner">
					    <div class="carousel-item active" data-bs-interval="3500">
					      <img src="../img/sofa/sf1.png" class="d-block w-100" alt="..." width="700" height="200">
					    </div>
					    <div class="carousel-item" data-bs-interval="3500">
					      <img src="../img/camas/cm1.png" class="d-block w-100" alt="..." width="700" height="200">
					    </div>
					    <div class="carousel-item" data-bs-interval="3500">
					      <img src="../img/mesanoche/mn1.png" class="d-block w-100" alt="..." width="700" height="200">
					    </div>
					    <div class="carousel-item" data-bs-interval="3500">
					      <img src="../img/mesacentro/mc1.png" class="d-block w-100" alt="..." width="700" height="200">
					    </div>
					  </div>
					  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					    <span class="carousel-control-next-icon" aria-hidden="true"></span>
					    <span class="visually-hidden">Next</span>
					  </button>
					</div>
				</div>
			</div>
		</div>

			<!-----menu ------>
		<div class="row">
				<nav class="navbar navbar-expand-lg bg-body-tertiary">
					  <div class="container-fluid">
					    <a class="navbar-brand" href="#">MM</a>
					    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					      <span class="navbar-toggler-icon"></span>
					    </button>
					    <div class="collapse navbar-collapse" id="navbarSupportedContent">
					      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
					        <li class="nav-item">
					          <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
					        </li>
					        <li class="nav-item dropdown">
					          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            SALA
					          </a>
					          <ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="sofa.html">Sofá</a></li>
					            <li><a class="dropdown-item" href="mesacentro.html">Mesa centro</a></li>
					          </ul>
					        </li>
					        <li class="nav-item dropdown">
					          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					            HABITACIÓN
					          </a>
					          <ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="cama.html">Camas</a></li>
					            <li><a class="dropdown-item" href="mesanoche.html">Mesa de noche</a></li>
					          </ul>
					        </li>
					      </ul>

					      <form class="d-flex" role="search">
					        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
					        <button class="btn btn-primary btn-outline-warning" type="submit">Buscar</button>
					      </form>
					    </div>
					  </div>
				</nav>
		</div>

		<!-------------------------------- ---------------------------------------->
		<div class="row">
			<div class="row">
					<div class="col">
						<p class="container-fluid fs-2 "><a class="text-decoration-none" href="../index.html">Inicio</a>/Mesa de centro</p>		
					</div>
				</div>
			<!--------categorias--------->
			<div class="col-md-3">
				<div class="row row-cols-1 row-cols-md-1 g-6">
					<div class="row">
						<p class="container-fluid fs-5">Categorías</p>
						<ul class="list-unstyled text-decoration-none">
							<li><a class="text-decoration-none text-dark" href="">Muebles para el hoagar<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">Silla<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">Sofá<span>(9)</span></a></li>
						</ul>
					</div>

					<div class="row">
						<p class="container-fluid fs-5">Ubicacion</p>
						<ul class="list-unstyled">
							<li><a class="text-decoration-none text-dark" href="">Ciénaga<span>(9)</a></span></li>
							<li><a class="text-decoration-none text-dark" href="">Santa Marta<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">Pueblo Viejo<span>(9)</span></a></li>
						</ul>
					</div>

					<div class="row">
						<p class="container-fluid fs-5">Precio</p>
						<ul class="list-unstyled">
							<li><a class="text-decoration-none text-dark" href="">100.000-200.000<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">200.000-300.000<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">300.000-400.000<span>(9)</span></a></li>
						</ul>
					</div>

					<div class="row">
						<p class="container-fluid fs-5">Condición</p>
						<ul class="list-unstyled">
							<li><a class="text-decoration-none text-dark" href="">Nuevo<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">Usado<span>(9)</span></a></li>
							<li><a class="text-decoration-none text-dark" href="">Reacondicionado<span>(9)</span></a></li>
						</ul>
					</div>

				</div>
			</div>
			
			<!--------ARTICULOS--------->
			<div class="col-md-9">
				
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="row row-cols-3 row-cols-md-3 g-2">
								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc1.html">
										<div class="card">
										    <img src="../img/mesacentro/mc1.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc1</h5>
										       	<p class="card-text">$190.000</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc2.html">
										<div class="card">
										    <img src="../img/mesacentro/mc2.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc2</h5>
										       	<p class="card-text">$210.999</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc3.html">
										<div class="card">
										    <img src="../img/mesacentro/mc3.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc3</h5>
										       	<p class="card-text">$170.000</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc4.html">
										<div class="card">
										    <img src="../img/mesacentro/mc4.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc4</h5>
										       	<p class="card-text">$210.999</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc5.html">
										<div class="card">
										    <img src="../img/mesacentro/mc5.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc5</h5>
										       	<p class="card-text">$210.999</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc6.html">
										<div class="card">
										    <img src="../img/mesacentro/mc6.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc6</h5>
										       	<p class="card-text">$210.999</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc7.html">
										<div class="card">
										    <img src="../img/mesacentro/mc7.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc7</h5>
										       	<p class="card-text">$110.999</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc8.html">
										<div class="card">
										    <img src="../img/mesacentro/mc8.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc8</h5>
										       	<p class="card-text">$210.999</p>
										    </div>
										</div>
									</a>
								</div>

								<div class="col">
									<a class="text-decoration-none" href="mesacentro mc9.html">
										<div class="card">
										    <img src="../img/mesacentro/mc9.png" class="card-img-top" alt="..." height="200" width="200">
										    <div class="card-body">
										      	<h5 class="card-title">Mesa de centro mc9</h5>
										       	<p class="card-text">$210.999</p>
										    </div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!------------------------------------------------------------------------>

		<!-----Pie de pagina ------>
		<div class="row bg-dark">
				<div class="col">
					<div class="row">
						<div class="col-md-3">
							<div class="clearfix">
								<b class="list-title">En MultiMuel</b>
								<ul class="list-unstyled">
									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">
										Información a proveedores
									</a>
									</li>
									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">
										Información a inversonistas
									</a>
									</li>
									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">
										Vende en MultiMueble
									</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-md-3">
							<div class="clearfix">
								<b class="list-title">Servicios</b>

								<ul class="list-unstyled">
									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">				Medios de pago
										</a>
									</li>

									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">				Cambios y devoluciones
										</a>
									</li>

									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">				Política de protección de datos personales
										</a>
									</li>
								</ul> 
							</div>
						</div>

						<div class="col-md-3">
							<div class="clearfix">
								<b class="list-title">Siguenos</b>
								<ul class="list-unstyled">
									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">				Facebook
										</a>
									</li>

									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">
											Youtube
										</a>
									</li>

									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">				Instagram
										</a>
									</li>
								</ul> 
							</div>
						</div>

						<div class="col-md-3">
							<div class="clearfix">
								<b class="list-title">Mi cuenta</b>
								<ul class="list-unstyled">
									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">Regístrate
										</a>
									</li>

									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">
											Cambía tu clave
										</a>
									</li>

									<li>
										<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover text-decoration-none">Olvidé mi clave
										</a>
									</li>
								</ul> 
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col">
							<p>
								<a href="#" class="link-body-deatful link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">
									Aqui derechos de Autor
								</a>
							</p>
						</div>
					</div>
				</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>